# FastAPI + Server
fastapi==0.110.0
uvicorn[standard]==0.29.0
websockets==12.0

# WebSocket / Realtime Chat
aiohttp==3.9.3
httpx==0.27.0
python-socketio==5.11.2
python-engineio==4.9.1
redis==5.0.1

# Database
SQLAlchemy==2.0.29
asyncpg==0.29.0
alembic==1.13.1
email-validator==2.1.0.post1 
# Auth
python-jose==3.3.0
passlib[bcrypt]==1.7.4
bcrypt==4.1.2

# Config & Environment
pydantic==2.6.3
pydantic-settings==2.2.1
python-dotenv==1.0.1

# Utils
typing_extensions==4.10.0
